*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(227, 225, 225);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 2px solid black;
        width: 100% ;
        height: 80px;
        
        .empty{
            
        }
       .navitems{
        display: flex;
        list-style: none;
        font-size: 35px;
        gap: 30px;
        margin-left : 200px;
        
       }
       .navlogo{
        display: flex;
        font-size: 40px;
        gap: 30px;
        a{
            color: grey;
        }
       
       }
    }
    .title{
        display: flex;
        gap: 15px;
        justify-content: center;
        i{
            font-size: 50px;
        }
        h1{
            text-transform: capitalize;
            font-size: 50px;
        }
    }
    .subnav{
        .subnavitem{
            font-size: 25px;
            text-decoration: underline;
            display: flex;
            list-style: none;
            gap: 20px;
            text-transform: capitalize;
            font-weight: bold;

        }
    }
    .cards{
        display: flex;
        gap: 30px;
        border-top: 8px solid darkblue;
        /* border: 2px solid red; */
        padding: 20px;
        flex-wrap: wrap;
        width: 60%;
        .card{
            display: flex;
            flex-direction: column;
            background-color: white;
            border: 2px solid black;
            width: fit-content;
            padding: 20px;
            gap: 10px;
            .img{
                img{
                    width: 300px;
                }
            }
            h2{
                text-decoration: underline;
            }
            p{
                text-transform: capitalize;
                text-align: justify;
                width: 300px;
            }
            #date{
                border-top: 2px solid rgb(224, 0, 220);
                width: 100%;
            }

        }
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* border: 2px solid blue; */
        height: 300px;
        gap: 20px;
        width: 100%;
        background-color: rgb(17, 17, 58);
        color: white;
      i{
            font-size: 80px;
        }
        h1{
            text-transform: capitalize;
            font-size: 50px;
        }

    }
}